.container {
  text-align: center;
  padding: 20px 8px;
  display: block;
  border: 1px solid rgb(49, 39, 39, 40%);
  border-radius: 4px;
}

.img {
  width: 240px;
  border-radius: 4px;
  margin-bottom: 18px;
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(49, 39, 39);
  margin-bottom: 20px;
}

.into {
  display: block;
}

.incrementAndDecrement {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto auto 20px 0;
}

.decrement__button {
  margin-right: 20px;
  margin-left: auto;
}

.increment__button {
  margin-left: 20px;
  margin-right: auto;
}

.price {
  text-align: center;
  margin-bottom: 40px;
}

.price,
.quantity {
  font-size: 22px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(49, 39, 39);
}

.quantity {
  margin: 0;
}

.button {
  height: 60px;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .container {
    text-align: none;
    padding: 6px 18px;
    display: flex;
    height: 100px;
  }

  .img {
    width: 100px;
    margin-bottom: 0;
    margin-right: 30px;
    border-radius: 4px;
  }

  .title {
    font-size: 18px;
    line-height: 22px;
    margin: auto 20px auto 0;
  }

  .price,
  .quantity {
    font-size: 16px;
    line-height: 22px;
  }

  .into {
    display: flex;
    margin-left: auto;
    width: 600px;
  }

  .incrementAndDecrement {
    margin: auto 20px auto 0;
  }

  .decrement__button {
    margin-left: auto;
  }

  .increment__button {
    margin-right: auto;
  }

  .price {
    text-align: none;
    margin: auto;
  }

  .button {
    margin: auto 0 auto 100px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 6px 10px;
  }

  .title {
    font-size: 22px;
    line-height: 16px;
    margin: auto auto auto 0;
  }

  .price,
  .quantity {
    font-size: 22px;
    line-height: 16px;
  }

  .incrementAndDecrement {
    margin: auto auto auto 0;
  }
}
